.wow{
  font-size: 1.8em;
  color: #9ED2C6;
  position: relative;
  padding-top: 150px;
  margin-top: 100px;
}
body{
    margin: 0px;
    text-align: center;
    font-family: Mochiy Pop One;
    background-color: #F7ECDE;
    margin-top: 50px;
    
}
h1{
    margin-top: 0px;
}
.mid-container{
    background-color: #2B4865;
    width: 240px;
    height: 240px;
    border: solid 10px;
    position: absolute;
    left: 260px;
    top: 260px;


}
.bottom-container{
    background-color: #256D85;
    width: 240px;
    height: 240px;
    border: solid 10px;
    position: absolute;
}
.container{
    height: 780px;
    position: relative;
    width: 75%;
    margin: 0 auto;
}
.container2{
    height: 780px;
    position: relative;
    left: 780px;
    width: 75%;
    margin: 0 auto;  
}
.top-cloud{
    position: absolute;
    top:1px;
    left: 70%;
    z-index: -4;
    animation-name: top-cloud;
    animation-timing-function: ease-in-out;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.bottom-cloud{
    position: absolute;
    top: 320px;
    right: 70%;
    z-index: -4;
    animation-name: bottom-cloud;
    animation-timing-function: ease-in-out;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes top-cloud {
    from{
        position: absolute;
        top:1px;
        left: 70%;
        z-index: -4;
    }
    to{
        position: absolute;
        top:1px;
        left: 60%;
        z-index: -4;
    }
}
@keyframes bottom-cloud {
    from{
        position: absolute;
        
        right: 70%;
        z-index: -4;
    }
    to{
        position: absolute;
       
        right: 60%;
        z-index: -4;
    }
}
.antena{
    height: 150px;
    width: auto;
}
.antena2{
    height: 600px;
    width: auto;
    position: absolute;
    top:150px;
    left: 50%;
    transform: translate(-50%,-0%);
    z-index: -5;
}
.signal{
    border: solid 15px #54BAB9;
    border-top: 0px;
    border-bottom: 0px;
    height:200px ;
    width: 300px;
    border-radius: 200px;
    animation-name: signal;
    animation-duration: 1000ms;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 400px;
}
@keyframes signal {
    from{
        height:50px ;
        width: 65px;
        border-radius: 200px;
        opacity: 100%;
        top: 400px;
        border-color: #54BAB9 ;
    }
    to{
        height:400px ;
        width: 500px;
        border-radius: 400px;
        opacity: 0%;
        top: 225px;
        border-color: #F07DEA;
    }
}
.signalsh{
    border: solid 15px #54BAB9;
    border-top: 0px;
    border-bottom: 0px;
    height:200px ;
    width: 300px;
    border-radius: 200px;
    animation-name: signal;
    animation-duration: 1000ms;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 400px;
    animation-delay: 200ms;
}
.signalant{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #D61C4E;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 400px;
    animation-name: signalant;
    animation-duration: 1000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes signalant {
    from{background-color: #D61C4E;}
    to{background-color: #1CD6CE;}
}
.tower{
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 400px solid #16213E;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 450px;

}